body{
  font-family: Arial;
  margin:0;
  background:#eef2ff;
}

h1{
  text-align:center;
  background:#4f46e5;
  color:white;
  padding:15px;
}

.container{
  width:850px;
  margin:auto;
}

.card{
  background:white;
  padding:15px;
  margin:15px 0;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

input,select{
  padding:8px;
  margin:5px;
}

button{
  padding:8px 12px;
  background:#4f46e5;
  color:white;
  border:none;
  cursor:pointer;
  border-radius:5px;
}

li{
  display:flex;
  justify-content:space-between;
  padding:8px;
  background:#f3f4f6;
  margin:5px 0;
}
