body {
  font-family: Arial;
  background: #f4f6f9;
  transition: 0.3s;
}

.dark {
  background: #121212;
  color: white;
}

.container {
  max-width: 900px;
  margin: auto;
}

h1 {
  text-align: center;
}

.card {
  background: white;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}

.dark .card {
  background: #1e1e1e;
}

input, select {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px;
  background: #2d6cdf;
  color: white;
  border: none;
  cursor: pointer;
}

#progressBar {
  height: 10px;
  background: lightgray;
  margin-top: 10px;
}
